a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
	@include m0;
	max-width: 1000px;
	min-width: 800px;
	height: 900px;
	background-color: $white;
}

.gamebox {
	@include m0;
	width: 800px;
	height: 800px;
	border: 3px $black solid;
	border-radius: 5px;
	padding: 40px;


	.header {
		margin: inherit;
		width: 600px;
		h2 {
			width: 50%;
			float: left;

			&#time {
				text-align: left;
			}

			&#score {
				text-align: right;
			}
		}
	}

	.gamegrid {
		margin: inherit;
		width: 606px;
		height: 606px;
		border: inherit;

		.cell {
			width: 50px;
			height: 50px;
			float: left;
			border: 1px solid $black;

		}

	}
}