a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
	@include m0;
	width: 700px;
}

.gamebox {
	@include m0;
	width: $boxSize;
	//height: $boxSize; // Account for bottom buttons
	border-radius: 5px;
	padding: 18px;
	padding-top: 0;


	.header {
		margin: inherit;
		width:  479px;
		h2 {
			margin-bottom: 0;	
			float: left;
			&#time {
				text-align: left;
				width: 60%;
			}
			&#score {
				width: 40%;
				text-align: right;
			}
			p, #totscore {
				display: inline;
			}
		}
	}

	.gamegrid {
		margin: inherit;
		width: $gridSize;
		height: $gridSize;
		border: inherit;

		.cell {
			width: $cellSize;
			height: $cellSize;
			background-size: cover;
			float: left;
			border: 1px solid $border;

		}

	}
}