button {
	background: $accent;
	border:0;
	border-bottom: 4px solid $accenta;
	color: $white;
	//transition: all 0.3s ease;
	@include stylishButton;
	&:hover {
		@include undoDefault;
		border-bottom: 0;
	}
	&:focus {
		@include undoDefault;
	}



    &.singleButton {
        width: 65%;
        @include m0;
    }

    &.doubleButton {
    	width: 75%;
    	@include m0;
    }
}

.buttonContainer {
	width: 100%;

	&#highScoreContainer{
		margin-top: 60px;
	}
}
.buttonHolder {
	width: 50%;
	float: left;
}

.depletedButton {
	color: rgb(237,146,137);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}



footer {
	width: 475px;
	@include m0;

	.buttonHolder {
		float: left;
		margin: 0 2.2%;		
		width: 30%;

		font-size: 15px;
		span {
			@include helvheavy;

		}
		&#tim{
			margin-left: 2px;
		}

		&#inst {
			margin-right: 0;
		}
	}

	
}