button {
	background: $accent;
	border:0;
	border-bottom: 4px solid $accenta;
	color: $white;
	transition: all 0.3s ease;
	@include stylishButton;
	&:hover, &:focus {
		@include undoDefault;
		border-bottom: 0;
	}
}

footer button {

	display: inline;
	width: 200px;
	margin: 19px;

}