button {
	background: $accent;
	border:0;
	border-bottom: 4px solid $accenta;
	color: $white;
	//transition: all 0.3s ease;
	@include stylishButton;
	&:hover, &:focus {
		@include undoDefault;
		border-bottom: 0;
	}

    &.singleButton {
        width: 50%;
        @include m0;
    }

    &.doubleButton {
    	width: 75%;
    	@include m0;
    }
}

.buttonContainer {
	width: 100%;
}
.buttonHolder {
	width: 50%;
	float: left;
}



footer {
	width: $gridSize;
	@include m0;

	.buttonHolder {
		float: left;
		margin: 0 2.2%;		
		width: 30%;
		&#tim{
			margin-left: 0;
		}

		&#inst {
			margin-right: 0;
		}
	}

	
}