ol {

	list-style-type: none;
	margin: 0;
	padding: 0;
	counter-reset: li-counter;

	&>li {
		border: 1px solid #000;
		height: 51px;
		position: relative;
		//padding: 5px;
		
		&:before{
			position: absolute;
			top:0;
			left: 8px;
			
			width: 5%;

			font-size: 40px;

			 content: counter(li-counter);
    		counter-increment: li-counter;
		}	
	}
}


.scoreListItem {

	height: 51px;
	position: relative;
	
	.left {
		position: absolute;
		top: 0;
		left: 8px;
		width: 5%;
		font-size: 40px;
		margin: 0;
	}
	.middle {
		float: left;
		margin-left: 10%;
		width: 70%;
		height: 100%;
		padding: 5px 15px;
		border-left: 4px solid black;
		border-right: 4px solid black;
		text-align: left;
		input {
			
		}
		.usrlvl {
			float: right;
			width: 20%;
			text-align: center;
			display: inline-block
		}	
	}
	.right {
		float: left;
		width: 20%;
		margin: 0;
	}
}