ol {

	list-style-type: none;
	margin: 0;
	padding: 0;
	counter-reset: li-counter;

	&>li {
		
		height: 51px;
		position: relative;
		
		&:before{
			position: absolute;
			top:0;
			left: 0;
			width: 10%;
			color: $white;
			background-color: $accent;
			

			font-size: 40px;
			@include helvheavy;

			content: counter(li-counter);
    		counter-increment: li-counter;
		}	
	}
}


.scoreListItem {
	
	border: 1px solid $black;
	height: 51px;
	position: relative;
	
	.left {
		position: absolute;
		top: 0;
		left: 0;
		width: 10%;
		color: $white;
		background-color: $accent;

		font-size: 40px;
		margin: 0;
	}
	.middle {
		float: left;
		margin-left: 10%;
		width: 70%;
		height: 100%;
		padding: 5px 15px;
		border-left: 4px solid $black;
		border-right: 4px solid $black;
		text-align: left;

		background-color: $cloudwhite;
		.bottom {
			color: $accent;
		}

		input{
			background-color: inherit;
			border: none;
			
			&.top {
				color: black;
			}
			&.bottom {
				color: $accent;
			}
		}
		.usrlvl {
			float: right;
			width: 20%;
			text-align: center;
			display: inline-block
		}	
	}
	.right {
		float: left;
		margin: 0;
		padding: 5px;
		width: 20%;
		height: 100%;
		
		background-color: $accent;
		color: $white;
		
	}
}