
h1 {
	@include helvlight;
	@include m0;
	text-align: center;
	font-size: 48px;
	letter-spacing: 5px;
}

h3 {
	font-size: 32px;
	@include m0;
	@include helvheavy;
}

p {
	@include helvlight;
}

button {
	@include helvheavy;
}