
h1 {
	@include helvheavy;
	margin: 0 auto;
	margin-top: 22px;
	text-align: center;
	font-size: 48px;
	color: $accent;
	letter-spacing: 5px;
	text-transform: uppercase;
}

h3 {
	font-size: 32px;
	@include m0;
	@include helvheavy;
}

p {
	@include helvlight;
}

button {
	@include helvheavy;
}

.left {
	@include helvheavy;
}

.middle {
	@include middle;
}

.top {
	@include top;
}

.bottom {
	@include bottom;
}

span {
	@include spanMid;
}

.right {
	@include right;
}

input::-webkit-input-placeholder {
	color: $accenta;
}
input::-moz-placeholder {
	color: $accenta;
}

input:-moz-placeholder {
	color: $accenta;
}

input:-ms-input-placeholder{
  color: $accenta;
}

//top

.top input::-webkit-input-placeholder {
		color: black;	
}
.top input::-moz-placeholder {
	color: $accenta;
}

.top input:-moz-placeholder {
	color: $accenta;
}

.top input:-ms-input-placeholder{
  color: $accenta;
}


