
h1 {
	@include helvheavy;
	margin: 10px auto;
	margin-top: 22px;
	text-align: center;
	font-size: 48px;
	color: $accent;
	letter-spacing: 5px;
}

h3 {
	font-size: 32px;
	@include m0;
	@include helvheavy;
}

p {
	@include helvlight;
}

button {
	@include helvheavy;
}