$blue: #3498db;
// Modal backdrop
$black: #7f8c8d;
// Grid border
$border: rgba(255,255,255,0.9);
$white: #ecf0f1;
$cloudwhite: #ecf0f1;
$darkgray: #bdc3c7;
$gray: lighten($darkgray,20%);


$boxSize: 600px;
$gridSize: 486px;
$cellSize: 40px;

$borderSize: 3px;


$accent: #e74c3c;
$accenta: darken($accent, 20%);


$helv: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans: 'Montserrat', sans-serif;


@mixin m0 {
	margin: 0 auto;
}

@mixin helvheavy {
	font-family: $helv;
	font-weight: 700;
}

@mixin helvlight {
	font-family: $helv;
	font-weight: 300;
}

@mixin bigboys {
  text-transform: uppercase;
  font-weight: 700;
}

@mixin middle {
 @include helvlight;
}

@mixin top {
  font-size: 18px;
}

@mixin bottom {
  font-size: 14px;
}

@mixin spanMid {
  @include helvlight;
  font-size: 16px;
}

@mixin right {
  @include helvheavy;
  font-size: 35px;
}




@mixin stylishButton {
  @include bigboys;
  padding: 6px 9px;
  border-radius: 2px;
  height: 45px;
  display: block;
  width: 100%;
}

@mixin undoDefault{
  outline: none
}