doctype html
html(lang='en')
	head
		include includes/header
	body
		.wrapper
			h1 Cosella
			.gamebox
				include includes/gameHeader
				.gamegrid#gamegrid.clearfix
				include includes/gameFooter
			include includes/modal
			include includes/highscore
