doctype html
html(lang='en')
	head
		include includes/header
	body
		.wrapper
			h1 Cosella
			.gamebox
				.header.clearfix
					h2#time Time Remaining: 00:00:00
					h2#score Score: 500
				.gamegrid#gamegrid
			include includes/overlay
