.overlay#highScore
	.modal
		h3 High Scores
		.top5Scores
			ol 
		h3 Submit your score:
		.scoreListItem.clearfix#userResults
			p.left#usrRank 
			form.middle
				div.top
					input#inputName.textInput(type="text", maxlength="18", placeholder="Your Name")
					span.usrlvl Level
				div.bottom
					input#inputTwitter.textInput(type="text", maxlength="18", placeholder="Your Twitter Handle")
					span.usrlvl#usrlvl
			p.right#usrpoints 
			.buttonContainer.clearfix(style="margin-top:100px")
				.buttonHolder
					button.playAgain.doubleButton Play Again?
				.buttonHolder
					button#submitScore.doubleButton Submit Score
				