.overlay#highScore(style="display:block")
	.modal
		h3 High Scores
		.top10Scores
			ol 
		h3 Submit your score:
		.scoreListItem#userResults
			p.left#userRank 3
			form.middle
				div.top
					input#inputName.textInput(type="text", maxlength="18", placeholder="Name")
					span.usrlvl Level
				div.bottom
					input#inputTwitter.textInput(type="text", maxlength="18", placeholder="Twitter Handle")
					span.usrlvl 8
			p.right#usrpoints 9999 

				