.overlay#instructions.close
	.modal
		h3 Instructions
		p The object of the game is to match icons. You are able to match icons through the following 4 cases. The path which you can match icons can only change directions 3 times.
		.case
			img#case1
			p Match two icons by forming a straight line vertically or horizontally.
		.case
			img#case2
			p Match two icons by forming a "L" Shaped path in any direction.
		.case
			img#case3
			p Match two icons by forming a "U" Shaped path in any direction.
		.case
			img#case4
			p Match two icons by forming a Zig-Zag pattern in any direction.
		button.singleButton Okay let me play!
.overlay#nextLevel
	.modal
		h3 Well you beat that level...
		img#octocat.octocat
		p Are you ready for the next round??
		button#nextLvl.singleButton Put me in coach!
.overlay#timesUp
	.modal
		h3 Game Over!
		h3 Total Score: 
			p.totscore
		img#gameOverOcto.octocat
		button#playAgain.singleButton Play again?
.overlay#highScore(style="display:block")
	.modal
		h3 Super Players':
			.top10Scores
				ol 
		.scoreListItem#userResults
			p#userRank
			form
				input#inputName.textInput(type="text", maxlength="18")
				input#inputTwitter.textInput(type="text", maxlength="18")
			p#userlevel 5
			p#userScore 9999


