.overlay#instructions.close
	.modal
		h3 Instructions
		p The object of the game is to match icons. You are able to match icons through the following 4 cases. The path which you can match icons can only change directions 3 times.
		.case
			img#case1
			p Match two icons by forming a straight line.
		.case
			img#case2
			p Match two icons by forming a "L" Shaped path.
		.case
			img#case3
			p Match two icons by forming a "U" Shaped path.
		.case
			img#case4
			p Match two icons by forming a Zig-Zag pattern.
		button Okay let me play!
.overlay#nextLevel.close
	.modal
		h3 Congrats u beat that level
		p onto the next one
.overlay#timesUp.close
	.modal
		h3 Times up chump
		h4 Score: 51
		p sorry bud

