.overlay#instructions.close
	.modal
		h3 Instructions
		p#instructPara The object of the game is to match icons. You are able to match two icons at a time through the following four cases. The path which you can match icons can only change directions three times.
		.case
			img#case1
			p Match by forming a straight line vertically or horizontally.
		.case
			img#case2
			p Match by forming a "L" path in any direction.
		.case
			img#case3
			p Match by forming a "U" path in any direction.
		.case
			img#case4
			p Match by forming a Zig-Zag pattern in any direction.
		button.singleButton Okay let me play!
.overlay#nextLevel
	.modal
		h3 Well you beat that level...
		img#octocat.octocat
		p Are you ready for the next round??
		button#nextLvl.singleButton Put me in coach!
.overlay#timesUp
	.modal
		h3 Game Over!
		h3 Total Score: 
			p.totscore
		img#gameOverOcto.octocat
		.buttonContainer.clearfix
			.buttonHolder
				button.playAgain.doubleButton Play Again?
			.buttonHolder
				button#highScores.doubleButton Highscores