.overlay#instructions.close
	.modal
		h3 Instructions
		p learn 2 play noob
.overlay#nextLevel.close
	.modal
		h3 Congrats u beat that level
		p onto the next one
.overlay#timesUp.close
	.modal
		h3 Times up chump
		h4 Score: 51
		p sorry bud
		
